body {
    font-family: Arial, sans-serif;
    background-color: #fedfc9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #ffa468;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 150px;
}

button {
    padding: 10px 20px;
    background-color: #ffa468;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #fedfc9;
}

#results {
    margin-top: 20px;
    font-weight: bold;
}
